DISCORD_TOKEN=NDc...
DISCORD_OWNER_ID=123456789012345678
DISCORD_DEV_GUILD_ID=0

LAVALINK_PASSWORD=youshallnotpass

MODMAIL_GUILD_ID=123456789012345678
MODMAIL_CATEGORY_ID=0

HONEYPOT_LOG_CHANNEL_ID=0
HONEYPOT_ACTION=Kick
