# Discord
DISCORD_TOKEN=your_token_here
DISCORD_OWNER_ID=0
DISCORD_DEV_GUILD_ID=951100426399395900

# Lavalink
LAVALINK_HOST=localhost
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass

# Locale (en/vi)
LOCALE=en

# Modmail
MODMAIL_GUILD_ID=your_guild_id
MODMAIL_CATEGORY_ID=0
