# Discord
DISCORD_TOKEN=your_token_here
DISCORD_OWNER_ID=0
DISCORD_DEV_GUILD_ID=951100426399395900

# NodeLink
NODELINK_HOST=localhost
NODELINK_PORT=2333
NODELINK_PASSWORD=youshallnotpass

# Modmail
MODMAIL_GUILD_ID=your_guild_id
MODMAIL_CATEGORY_ID=0
